.pet-list {
    width: 80%;
    margin: 4rem auto;
    height: 100vh;
}

.pet-list .pet-list-container {
  height: 100%;
}

.pet-list-none {
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 1.5rem;
}

.pet-list .pet-list-add-btn {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.pet-list .pet-list-remove-btn {
    margin-right: 1rem;
}

.pet-list .pet-list-update-btn {
  margin-right: 1rem;
}

.pet-list .pet-list-cell-problem {
    width: 40%;
}

.pet-list .pet-list-cell-problem div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 30rem;
    height: 3rem;
}

.pet-list .pet-list-cell-action {
    width: 18%;
}

.pet-list .form-check-input[type=checkbox] {
  border-radius: 50%;
}

.pet-list .pet-list-save-btn {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    margin-top: 2rem;
}

.pet-list .pet-active {
  background-color: rgba(0, 0, 0, 0.05);;
}

.pet-list .spinner-border {
  display: block;
  margin: auto;
  position: relative;
  top: 40%
}

.pet-list .pagination {
  justify-content: flex-end;
}