.signin {
  width: 30%;
  margin: 3rem auto;
  border: 1px solid #212529;
  border-radius: 8px;
}

.signin .signin-form {
  margin: 2rem;
}

.signin .signin-form-msg {
  font-size: .9rem;
  margin-left: .75rem;
}

.signin .signin-title {
  border-bottom: 1px solid #212529;
  padding: 1rem 2rem;
}

.signin .signin-form-btn {
  width: 100%;
}

.signin .signin-form .signin-form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.signin .signin-form .signin-form-input-error {
border-color: #dc3545;
}