.signup {
    width: 40%;
    margin: 3rem auto;
    border: 1px solid #212529;
    border-radius: 8px;
}

.signup .signup-form {
    margin: 2rem;
}

.signup .signup-form .alert {
  padding: .5rem 1rem;
}

.signup .signup-form .signup-form-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.signup .signup-form .signup-form-input-error {
  border-color: #dc3545;
}

.signup .signup-form .form-select {
    text-overflow: ellipsis;
}

.signup .signup-title {
    border-bottom: 1px solid #212529;
    padding: 1rem 2rem;
}

.signup .signup-form-btn {
    width: 100%;
}

@media (max-width: 992px) {
    .signup {
        width: 90%;
        margin: 3rem auto;
        border: 1px solid #212529;
        border-radius: 1rem;
    }
}
