.about {
  margin-top: 2rem;
}

.about-title {
  font-family: serif;
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
}

.about-header {
  font-size: 2rem;
  font-weight: 200;
  border-bottom: 1px solid #222;
  margin-top: 2rem;
}

.about-item {
  margin: 1rem 0;
}

.about-item .about-item-name {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.about .about-item p {
  white-space: pre-line;
  font-weight: 300;
  text-align: center;
}

.about-item .about-item-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.about .about-content {
  font-size: 1.2rem;
  padding: .5rem;
  margin: 1rem 0 5rem;
}

.about .about-content .about-content-title {
  margin-bottom: 1rem;
}

.about .about-content .about-content-subtitle {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.about .about-content p {
  font-size: 12pt;
  font-weight: 200;
}

@media (max-width: 992px) {
  .about .about-item-name {
    left: 40%;
  }
}