.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding: .5rem;
  background-color: #f8f9fa;
  width: 100%;
  height: 10rem;
}

.footer .footer-container {
  display: flex;
  justify-content: center;
}

.footer .footer-container .footer-container-item {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer .footer-container .footer-container-item p{
  margin-bottom: 0;
}

.footer .footer-container .footer-container-item .footer-container-item-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.footer .footer-container .footer-container-item .footer-container-item-name {
  font-weight: 700;
  width: 50%;
  text-align: center;
}

@media (max-width: 992px) {
  .footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: .5rem;
    background-color: #f8f9fa;
    width: 100%;
    height: 10rem;
  }

  .footer .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-container .footer-container-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .footer .footer-container .footer-container-item:first-child img {
    position: relative;
    
  }

  .footer .footer-container .footer-container-item .footer-container-item-title {
    font-weight: 500;
    font-size: 1rem;
  }

}